.grande{   
    background-color: #2A2C2F; 
     align-content: center;
 
 }
 @media screen and (min-width:320px) and (max-width:768px) 
 {
     .grande{       
         max-width:fit-content;  
             
      }     
 }
 
 @media screen and (min-width:768px) and (max-width:1280px) {
     .grande{
         max-width:fit-content;  
        
      }     
 }
 
 