.cover__content-title{
    z-index:99;
    color: #FFFF;
    font-size: 80px;
    margin-left: 200px;
    display: block;
    position: relative;
    
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .cover__content-title{
        font-size: 60px;
        padding-top: 150px;
    }
}