.cover__background{
    position: absolute;
    top: 0;
}

.cover__background:hover{

}

@media screen and (min-width: 320px) and (max-width: 767px){
    .cover__background{
        max-width: 769px;
        padding-left: 300px;
        padding-top: 370px;
      
        
       
    }
}
